<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabin.ter.chat.mapper.GroupMemberDomainMapper">
    <select id="listByIds" resultType="com.cabin.ter.chat.domain.GroupMemberDomain" parameterType="java.util.List">
        SELECT groupId, uid, role
        FROM ter_group_member
        WHERE groupId IN
        <foreach item="roomId" index="index" collection="roomIdsList" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </select>

    <insert id="saveGroupMemberList" parameterType="java.util.List">
        INSERT INTO ter_group_member (id, groupId, uid, role, createTime)
        VALUES
        <foreach collection="groupMemberDomainList" item="item" separator=",">
            (
            <if test="item.id != null">
                #{item.id},
            </if>
            <if test="item.groupId != null">
                #{item.groupId},
            </if>
            <if test="item.uid != null">
                #{item.uid},
            </if>
            <if test="item.role != null">
                #{item.role},
            </if>
            <if test="item.createTime != null">
                #{item.createTime}
            </if>
            )
        </foreach>
    </insert>
</mapper>