<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabin.ter.chat.mapper.MessageDomainMapper">
    <insert id="saveMessage" parameterType="com.cabin.ter.chat.domain.MessageDomain" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ter_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="roomId != null">roomId,</if>
            <if test="fromUid != null">fromUid,</if>
            <if test="content != null">content,</if>
            <if test="replyMsgId != null">replyMsgId,</if>
            <if test="status != null">status,</if>
            <if test="gapCount != null">gapCount,</if>
            <if test="type != null">`type`,</if>
            <if test="extra != null">extra,</if>
            <if test="createTime != null">createTime,</if>
            <if test="updateTime != null">updateTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="fromUid != null">#{fromUid},</if>
            <if test="content != null">#{content},</if>
            <if test="replyMsgId != null">#{replyMsgId},</if>
            <if test="status != null">#{status},</if>
            <if test="gapCount != null">#{gapCount},</if>
            <if test="type != null">#{type},</if>
            <if test="extra != null">#{extra},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateByMsgId" parameterType="com.cabin.ter.chat.domain.MessageDomain">
        UPDATE ter_message
        <set>
            <if test="messageDomain.content != null"> content = #{messageDomain.content},</if>
            <if test="messageDomain.replyMsgId != null"> replyMsgId = #{messageDomain.replyMsgId},</if>
            <if test="messageDomain.gapCount != null"> gapCount = #{messageDomain.gapCount},</if>
            <if test="messageDomain.extra != null"> extra = #{messageDomain.extra},</if>
        </set>
        WHERE id = #{messageDomain.id}
    </update>
</mapper>